/* Color palette
 * https://colorhunt.co/palette/cece5affe17bfd8d14c51605
  #C51605 - Dark red
  #FD8D14 - Orange
  #FFE17B - Manilla
  #CECE5A - Olive
*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  /* background: #eee; */
  background-color: #FD8D14;
  padding: 0 16px;
}

header,
footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #C51605;
  padding: 12px 32px;
  margin: auto -16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.note {
  background: #FFE17B;
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}