  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-bottom: 2.5rem;
    min-height: 100vh;
  }


  /* PAGE */
  body {
    background-color: #1A374D;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    padding: 0 16px;
  }


  /* HEADER & FOOTER */
  header,
  footer {
    color: white;
    background-color: #000409;
    background-image: url("https://www.transparenttextures.com/patterns/rough-cloth-light.png");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 32px;
    text-align: center;
    margin: auto -16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  header h1 {
    font-size: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2.5rem;
  }

  footer p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  footer p.buildInfo {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.6rem;
    color: grey
  }

  .flexContainer,
  .flexColumnContainer {
    display: flex;
  }

  .flexColumnContainer {
    display: flex;
    flex-direction: column;
  }

  .flexRowContainer {
    display: flex;
    flex-direction: row;
  }

  .flexWrapRow {
    flex-wrap: wrap;
  }


  .flexItemStart {
    justify-content: start;
  }

  .flexItemCentre {
    justify-content: center;
  }

  .flexItemSpaceBetween {
    justify-content: space-between;
  }

  /* HORIZONTAL LINE */
  hr {
    border: 0.16rem solid black;
    border-radius: 5px;
  }

  /* INFO */
  .noteInfoDiv {
    background: #35A29F;
    border-radius: 7px;
    box-shadow: 0 2px 5px #000;
    padding: 10px;
    margin: 16px;
  }

  .notesDiv {
    margin-bottom: 16px;
  }

  /* NOTE */
  .noteDiv,
  .newNoteDiv {
    background: #3886c1;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
    color: white;
    border-radius: 7px;
    box-shadow: 0 2px 5px #000;
    padding: 10px;
    margin: 8px;
    min-width: 150px;
  }

  .noteDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 300px;
    max-width: 600px;
  }

  .newNoteDiv {
    max-width: 250px;
    min-height: 100px;
  }

  .noteDiv h1,
  .newNoteDiv h1 {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 6px;
  }

  .noteDiv p,
  .newNoteDiv textarea {
    font-size: 1rem;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: serif;
    letter-spacing: 0.12rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: azure;
  }

  /* TYPING AREA */
  input,
  textarea {
    background-color: rgb(12, 20, 21);
    min-height: 3rem;
    min-width: 6rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin-top: 0.5rem;
    border: black 0.15rem solid;
    text-align: left;
    font-size: 1.1rem;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  button {
    text-align: center;
    text-transform: uppercase;
    border: 3px solid white;
  }

  button:disabled,
  .buttonFade {
    opacity: 0.25;
  }

  /* Mat-icon button. */
  button.matIconButton {
    background-color: blue;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
  }

  /* Makes button icon zoom slightly when hovered over. */
  button.buttonHoverZoom:hover:enabled {
    scale: 120%;
  }

  button.buttonAccept,
  button.buttonSubmit,
  button.buttonAdd {
    background-color: limegreen;
  }

  button.buttonCancel,
  button.buttonReject,
  button.buttonDelete {
    background-color: red;
  }


  .matIconWithText {
    display: inline-flex;
    align-items: center;
    padding-right: 5px;
  }

  h1.matIconWithText span {
    padding-left: 10px;
    align-items: end;
  }

  h1 input {
    min-height: 2rem;
    min-width: 2rem;
    margin-right: 0.5rem;
  }

  textarea {
    resize: none;
  }

  /* any items inside this div will be right aligned. */
  .justifyContentsRight {
    display: flex;
    justify-content: end;
  }

  /* any items inside this div will be left aligned. */
  .justifyContentsLeft {
    display: flex;
    justify-content: start;
  }

  /* any items inside this div will be centre aligned. */
  .justifyContentsCentre {
    display: flex;
    justify-content: center;
    width: 100%
  }

  /* any items inside this div will be spaced evenly. */
  .justifyContentsEvenly {
    display: flex;
    justify-content: space-between;
    width: 100%
  }


  .alignContentStretch {
    align-content: stretch
  }

  .alignItemsStart {
    display: flex;
    align-items: start;
  }

  .alignItemsCentre {
    display: flex;
    align-items: center;
    height: 100%
  }

  .alignItemsEnd {
    display: flex;
    align-items: end;
  }

  .inputWide {
    min-width: 100%;
  }

  .inputTall {
    min-height: 100px;
  }

  .strikeThrough {
    text-decoration: line-through;
  }

  .underlined {
    text-decoration: underline;
  }

  li {
    margin-left: 20px;
  }