/* Color palette
 * https://colorhunt.co/palette/cece5affe17bfd8d14c51605
  #C51605 - Dark red
  #FD8D14 - Orange
  #FFE17B - Manilla
  #CECE5A - Olive
*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-bottom: 2.5rem;
  min-height: 100vh;
}

body {
  background-color: #FD8D14;
  padding: 0 16px;
}

header,
footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #C51605;
  padding: 12px 32px;
  margin: auto -16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem
}

footer p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.notesDiv {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.noteDiv,
.newNoteDiv {
  background: #FFE17B;
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  padding: 10px;
  min-width: 150px;
  max-width: 250px;
  min-height: 100px;
  margin: 16px;
  float: left;
}

.noteDiv h1,
.newNoteDiv h1 {
  font-size: 1.3rem;
  margin-bottom: 6px;
}

.noteDiv p,
.newNoteDiv textarea {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button,
input,
textarea {
  min-height: 3rem;
  min-width: 6rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #FFE17B;
  border: black 0.15rem solid;
  text-align: left;
  font-size: 1.1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  text-align: center;
  background-color: #CECE5A;
  text-transform: uppercase;
}

textarea {
  resize: none;
}

/* any items inside this div will be right aligned. */
.alignContentsRight {
  display:flex;
  justify-content: end;
}

/* any items inside this div will be left aligned. */
.alignContentsLeft {
  display:flex;
  justify-content: start;
}

/* any items inside this div will be centre aligned. */
.alignContentsCentre {
  display:flex;
  justify-content: center;
}

.inputWide {
  width: 100%;
}

.inputTall {
  height: 100px;
}

